Package: ${project.artifactId}
Version: ${deb.version}
Section: text
Priority: optional
Architecture: all
Depends: daisy-pipeline2
Maintainer: Christian Egli <christian.egli@sbs.ch>
Description: DTBook to ODT converter module for DAISY Pipeline2
Homepage: https://github.com/sbsdev/sbs-pipeline
